<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jakes Thing</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="container mt-5" id='app'>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <h1>JC Auto Repair</h1>
          <p>701 Glenwood</p>
          <p>Rossford, OH 43460</p>
          <p>419-297-????</p>
        </div>  
      </div>
      <div class="col-md-6">
        <input type="text" placeholder='Name' class='form-control'>
        <input type="text" placeholder='Address' class='form-control'>
        <input type="text" placeholder='City, State' class='form-control'>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered" >
          <tr>
            <th>QTY</th>
            <th>PART #</th>
            <th>Description</th>
            <th>List Price</th>
            <th>Price Ea</th>
            <th>Total</th>
          </tr>

          <tr v-for="row in tableEntries">
            <td class='medium rowWithNumberInput'>
              <input class='smallNumberInput' type="number" min='1' step='1' v-model='row.quanity'>
            </td>
            <td contenteditable='true' class='medium'></td>
            <td contenteditable='true'></td>
            <td  class='medium rowWithNumberInput'>
              <input class='smallNumberInput' type="number" min='0' step='any'>
            </td>
            <td class='medium rowWithNumberInput'>
              <input class='smallNumberInput' type="number" min='0' step='any' v-model='row.priceEach'>
            </td>
            <td class='medium'>${{row.total}}</td>
          </tr>

         <!--  <tr>
            <td contenteditable='true' class='small'></td>
            <td contenteditable='true' class='small'></td>
            <td contenteditable='true'></td>
            <td contenteditable='true' class='medium'></td>
            <td contenteditable='true' class='medium'></td>
            <td class='medium'></td>
          </tr>
          <tr>
            <td contenteditable='true' class='small'></td>
            <td contenteditable='true' class='small'></td>
            <td contenteditable='true'></td>
            <td contenteditable='true' class='medium'></td>
            <td contenteditable='true' class='medium'></td>
            <td class='medium'></td>
          </tr> -->
         

          <tr>
            <td colspan='4'>
              <button class="btn btn-primary d-print-none" v-on:click='addItem'>Add row</button>
            </td>
            <td >Total Parts</td>
            <td>${{totalParts}}</td>
          </tr>

          <tr>
            <td colspan='4'></td>
            <td >Total Labor</td>
            <td>
              <input class='smallNumberInput' type="number" min='0' step='any' v-model='totalLabor'>
            </td>
          </tr>

          <tr>
            <td colspan='4'></td>
            <td >Total</td>
            <td>{{total}} </td>
          </tr>
        </table>
      </div>

      <div class="col-md-12">
        <h3>Notes</h3>
        <textarea class='form-control mb-5'></textarea>
      </div>
    </div>
  </div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="app.js"></script>

</body>
</html>