<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JC Auto Repair</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="container mt-5" id='app'>
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="text-center">
          <h1 class='mainBrand bg-primary'>JC Auto Repair</h1>
          701 Glenwood <br>
          Rossford, OH 43460 <br>
          419-297-0367 <br>
        </div>  
      </div>
      <div class="col-md-8">
        <input type="text" placeholder='Name' class='form-control mb-1' tabindex="1">
        <input type="text" placeholder='Address' class='form-control mb-1' tabindex="2">
        <input type="text" placeholder='City, State' class='form-control mb-1' tabindex="3">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <table class="table table-bordered">
          <tr>
            <th colspan='4'>Customer's Information</th>
          </tr>
          <tr>
            <th>Date</th>
            <th>Year, Make, Model</th>
            <th>Home Phone #</th>
            <th  >Mechanics Recomendations</th>
          </tr>
          <tr>
            <td>{{todaysDate}}</td>
            <td contenteditable='true' tabindex="4"></td>
            <td contenteditable='true' tabindex="5"></td>
            <td contenteditable='true' rowspan='5' tabindex="12"></td>
          </tr>
          <tr>
            <th>Odometer</th>
            <th>Serial #</th>
            <th>Cell Phone #</th>
          </tr>
          <tr>
            <td contenteditable='true' tabindex="6"></td>
            <td contenteditable='true' tabindex="7"></td>
            <td contenteditable='true' tabindex="8"></td>
          </tr>
          <tr>
            <th>License #</th>
            <th>Motor #</th>
            <th>Budget</th>
          </tr>
          <tr>
            <td contenteditable='true' tabindex="9"></td>
            <td contenteditable='true' tabindex="10"></td>
            <td contenteditable='true' tabindex="11"></td>
          </tr>
        </table>
        
        <table class="table table-bordered" >
          <tr>
            <th>QTY</th>
            <th>PART #</th>
            <th>Description</th>
            <th>List Price</th>
            <th>Price Ea</th>
            <th>Total</th>
          </tr>

          <tr v-for="row in tableEntries">
            <td class='medium rowWithNumberInput'>
              <input class='smallNumberInput' type="number" min='1' step='1' v-model='row.quanity'>
            </td>
            <td contenteditable='true' class='medium'></td>
            <td contenteditable='true'></td>
            <td  class='medium rowWithNumberInput'>
              <input class='smallNumberInput' type="number" min='0' step='any'>
            </td>
            <td class='medium rowWithNumberInput'>
              <input class='smallNumberInput' type="number" min='0' step='any' v-model='row.priceEach'>
            </td>
            <td class='medium'>${{row.total}}</td>
          </tr>
    

          <tr>
            <td colspan='4'>
              <button class="btn btn-primary d-print-none" v-on:click='addItem'>Add row</button>
            </td>
            <td class='totals' >Total Parts</td>
            <td>${{totalParts}}</td>
          </tr>

          <tr>
            <td colspan='4'></td>
            <td class='totals'  >Total Labor</td>
            <td>
              <input class='smallNumberInput' type="number" min='0' step='any' v-model='totalLabor'>
            </td>
          </tr>

          <tr>
            <td colspan='4'></td>
            <td class='totals' >Total</td>
            <td>{{total}} </td>
          </tr>
        </table>
      </div>

      <div class="col-md-12">
        <h3>Notes</h3>
        <p contenteditable='true' class='border border-dark p-1' style='width: 100%; min-height: 75px;'></p>
      </div>
    </div>
  </div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="app.js"></script>

</body>
</html>